extends ../layout

block content
  h3 Students
  form.form-inline(action="/catalog/student/create" method="GET" style="display:inline;")
    button.btn.btn-info.add-new.end-0.start-100(type="submit")
        i.bi.bi-plus-lg
        |  Add New
  br
  table.table.table-bordered.table-sm.table-hover.col-6.col-sm-2.col-md-6
    thead.thead-dark
      tr.d-flex
        th.col First Name
        th.col Last Name
        th.col-auto Actions
    tbody
      each student in students
          tr.d-flex
            td.col #{student.firstName}
            td.col #{student.lastName}
            td.col-auto
              form.form-inline(action="/catalog/score" method="POST" style="display:inline;")
                input.form-control.sr-only(type="number" name="id" value=student.id)
                button.btn.btn-link.btn-sm(title="View scores" type="submit")
                  i.bi.bi-card-list
              form.form-inline(action="/catalog/student/edit" method="POST" style="display:inline;")
                input.form-control.sr-only(type="number" name="id" placeholder="Id" value=student.id)
                button.btn.btn-link.btn-sm(title="Edit" type="submit")
                  i.bi.bi-pencil-square
              form.form-inline(action="/catalog/student/delete" method="POST" style="display:inline;")
                input.form-control.sr-only(type="number" name="id" placeholder="Id" value=student.id)
                button.btn.btn-link.btn-sm(title="Remove" type="submit")
                  i.bi.bi-x-square-fill.text-danger